.home {
    padding: 2rem;
    font-family: 'Poppins', sans-serif;
    /* background-image: url("https://i.pinimg.com/736x/94/18/79/94187970af3cece6188905dc4554778d.jpg"); */
    
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
  
  input {
    padding: 0.5rem;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 0.5rem;
  }
  
  button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #e38271;
  }
  
  .recipe-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
  }
  
  @media (max-width: 768px) {
    .search-bar {
      flex-direction: column;
    }
  
    input {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
/* Add spinner styling */
.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fixed position to keep it centered on the page */
    top: 35%;
    left: 47%;
  
    height: 10px;

    z-index: 9999; /* Ensures the spinner is on top of other content */
  }
  
  .spinner::after {
    content: "";
    border: 4px solid transparent;
    border-top: 4px solid #960000; /* Spinner color */
    border-radius: 50%;
    width: 30px; /* Smaller width */
    height: 30px; /* Smaller height */
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  