.recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 10px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 15px 20px rgba(161, 72, 72, 0.767);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .recipe-header {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .recipe-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }
  
  .recipe-image {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
  }
  
  .recipe-image:hover {
    transform: scale(1.05);
  }
  
  .recipe-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: var(--secondary-text-color);
  }
  
  .recipe-info span {
    font-weight: bold;
  }
  
  .recipe-instructions {
    text-align: left;
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 1rem;
  }
  
  .ingredients-list {
    list-style-type: disc;
    padding-left: 2rem;
    margin-top: 1rem;
  }
  
  .ingredients-list li {
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 768px) {
    .recipe-details {
      padding: 1rem;
    }
  
    .recipe-title {
      font-size: 1.5rem;
    }
  
    .recipe-info {
      flex-direction: column;
      text-align: center;
    }
  
    .recipe-image {
      max-width: 100%;
    }
  }
  
  /* Dark and light mode variables */
  .light-mode {
    --background-color: #ffffff;
    --text-color: #333333;
    --secondary-text-color: #555555;
  }
  
  .dark-mode {
    --background-color: #222222;
    --text-color: #ffffff;
    --secondary-text-color: #bbbbbb;
  }
  